body {
    margin: 0;
    background-image: url(img/background.svg);
    background-size: 200%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    justify-content: space-between;
    animation: rotate 8s infinite alternate linear;
}

@keyframes rotate {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 50% 50%;
    }
}


h1{
    
    font-size: 50px;
    color: rgb(252, 254, 255);
    text-shadow: 0px 5px 10px black;

}
#txtLogin{
    font-size: 45px;
    font-weight: 900;
    color: rgb(0, 153, 255);
    
}

section {
    padding: 20px;
    border-radius: 15px;
    background-image: linear-gradient(hsl(215, 31%, 84%),rgb(241, 241, 241));
    border: 4px solid rgb(11, 110, 224);
    width: 90%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
}

#imgLogin{
    height: 150px;

}

#campos form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#campoUser{
    padding-left: 10px;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgba(20, 26, 26, 0.171);
    height: 35px;
    width: 250px;
    transition: border 0.3s ease;
    outline: none;
}

#campoUser:focus{
    border: 3px solid #6f4caf;
}

#campoPass{
    padding-left: 10px;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgba(20, 26, 26, 0.171);
    height: 35px;
    width: 250px;
    outline: none;
    transition: border 0.1s ease;
}

#campoPass:focus{
    border: 3px solid #6f4caf;
}

#btnLogin{
    background-color: rgba(93, 153, 206, 0.301);
    margin-top: 10px;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    color: rgb(82, 167, 247); 

}

#btnLogin:hover{
    transform: scale(1.05);
    background-color: rgba(128, 128, 128, 0.308);
    cursor: pointer;
}

#btnLogin:active{
    background-color: rgb(132, 0, 255);
    transform: translateY(3px);
    color: aliceblue;
}

#Esqueceu{
    margin-top: 10px;
    color: rgb(82, 167, 247);
}

footer{
    color: white;
    text-shadow: 0px 10px 10px black;
}

@media (max-width: 768px) {
    body{
        background-size: cover;
    }
    
}